# This directory is fetched during first build and is present in this directory
subprojects/freeDiameter
subprojects/libtins
subprojects/usrsctp

webui/.next
docs/_includes/head-includes.html
lib/ipfw/objs/include_e/libutil.h
lib/ipfw/objs/include_e/net/if_var.h
lib/ipfw/objs/include_e/sys/sockio.h
lib/ipfw/objs/include_e/sys/sysctl.h
lib/ipfw/objs/include_e/timeconv.h
.vscode/c_cpp_properties.json
